.section-shaped .shape-danger {
    background: linear-gradient(87deg,#f5365c 0,#f56036 100%)
}

.section-shaped .shape-danger :nth-child(1) {
    background: rgba(255,255,255, 0.20);
}

.section-shaped .shape-danger :nth-child(2) {
    background: rgba(255,255,255, 0.20);
}

.section-shaped .shape-danger :nth-child(3) {
    background: rgba(255,255,255, 0.20);
}

.section-shaped .shape-danger :nth-child(4) {
    background: rgba(255,255,255, 0.20);
}

.section-shaped .shape-danger :nth-child(5) {
    background: rgba(255,255,255, 0.20);
}

.btn-icon-only {
    padding: 10px;
}

.blog-card .card-body {
    padding: 24px 0;
}

.blog-card .card-header-image img{
    width: 100%;
}

.content:hover img {
    margin-top: -10px;
    filter: drop-shadow(8px 8px 10px gray);
}
.content {
    padding: 24px 0;
}
.contributions-more-button {
    display: table;
    margin: auto
}
.contributors-card {
    width: 456px;
    height: 204px;
}
.contributors-card-container {
    margin-bottom: 4rem;
    padding: 0 2rem;
}
@media (min-width: 992px) {
    .contributors-card-container {
        margin-bottom: 4rem;
    }
}
@media (max-width: 767.98px) {
    .contributors-card-container {
        margin-bottom: 1rem
    }
}